@import 'open-props/open-props.min.css';
@import 'open-props/normalize.min.css';
@import 'open-props/colors-hsl.min.css';

body {
	width: 100%;
	height: 100vh;
	font-family: 'Roboto', sans-serif;
	background: var(--surface-1);
	background-image: radial-gradient(hsl(var(--text-2-hsl) / 50%) 1px, transparent 0);
	background-size: 40px 40px;
	background-position: -19px -19px;
	overflow: hidden;
}

:root {
	--z-base: 0;
	--z-above: 1;
	--z-toolbar: calc(var(--z-above) + var(--z-controls));
	--z-controls: calc(var(--z-above) + var(--z-canvas));
	--z-canvas: calc(var(--z-above) + var(--z-base));
}

:root {
	--brand: var(--orange-6);
	--brand-hsl: var(--orange-6-hsl);

	--text-1: var(--gray-8);
	--text-2: var(--gray-7);
	--text-2-hsl: var(--gray-7-hsl);

	--surface-1: var(--gray-0);
	--surface-2: var(--gray-1);
	--surface-3: var(--gray-2);
	--surface-4: var(--gray-3);
	--surface-1-hsl: var(--gray-0-hsl);
	--surface-2-hsl: var(--gray-1-hsl);
	--surface-3-hsl: var(--gray-2-hsl);
	--surface-4-hsl: var(--gray-3-hsl);
}

@media (prefers-color-scheme: dark) {
	:root {
		--brand: var(--orange-3);
		--brand-hsl: var(--orange-3-hsl);

		--text-1: var(--gray-3);
		--text-2: var(--gray-5);
		--text-2-hsl: var(--gray-5-hsl);

		--surface-1: var(--gray-9);
		--surface-2: var(--gray-8);
		--surface-3: var(--gray-7);
		--surface-4: var(--gray-6);
		--surface-1-hsl: var(--gray-9-hsl);
		--surface-2-hsl: var(--gray-8-hsl);
		--surface-3-hsl: var(--gray-7-hsl);
		--surface-4-hsl: var(--gray-6-hsl);
	}
}
